<!DOCTYPE html>
<html lang="en">

<head>
    <title>Inicia Sesion</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/public/css/util.css">
    <link rel="stylesheet" type="text/css" href="/public/css/accounts.css">
    <!--===========================CSS PAL NAV====================================-->
    <link rel="stylesheet" href="/public/css/grayscale.css">
    <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!--===============================================================================================-->
</head>

<body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="/index.ejs"><img src="/public/img/deiL.png" alt="dei"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
                Menu
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/index.ejs">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="/index.ejs#signup">Contacto</a>
                    </li>
            </div>
            </ul>
        </div>
        </div>
    </nav>

    <!--Login Form-->
    <div class="limiter registerTable">
        <div class="container-login100" style="background-image: url('/public/img/wall.jpg');">
        <section>
                <span class="login100-form-title">
                        <h1 class="h1accounts">Registro de cuentas</h1>
                </span>
            <table class="table table-hover">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">Usuario</th>
                        <th scope="col">Tipo de cuenta</th>
                    </tr>
                </thead>
                <tbody id="table_body">

                </tbody>
            </table>
        </section>
    </div>


    <div id="dropDownSelect1"></div>
    <script src="/public/js/login.js"></script>
    <script src="/public/vendor/jquery/jquery.min.js"></script>
    <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html> 