<!DOCTYPE html>
<html lang="en">

<head>
	<title>Password Change</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="/public/css/util.css">
	<link rel="stylesheet" type="text/css" href="/public/css/login.css">
	<!--===========================CSS PAL NAV====================================-->
	<link rel="stylesheet" href="/public/css/grayscale.css">
	<link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!--===============================================================================================-->
</head>

<body>
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
		  <a class="navbar-brand js-scroll-trigger" href="/index.ejs"><img src="/public/img/deiL.png" alt="dei"></a>
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
			Menu
		  </button>
		  <div class="collapse navbar-collapse" id="navbarResponsive">
			<ul class="navbar-nav ml-auto">
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="/index.ejs">Inicio</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="/calendar.ejs">Reserva</a>
			  </li>
			  <li class="nav-item">
				<a class="nav-link js-scroll-trigger" href="/index.ejs#signup">Contacto</a>
              </li>
              <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/login.ejs">Login</a>
                </li>
			</div>
			</ul>
		  </div>
		</div>
	  </nav>

<!--Change Password Form-->
	<div class="limiter">
		<div class="container-login100" style="background-image: url('/public/img/silverLaptop.jpg');">
			<div class="wrap-login100 p-t-30 p-b-50">
				<span class="login100-form-title p-b-41">
					Cambia tu contraseña
				</span>
				<form class="login100-form validate-form p-b-33 p-t-5">

					<div class="wrap-input100 validate-input" data-validate="Enter username">
						<input class="input100" type="text" name="username" placeholder="Usuario" id="carnet_field">
						<span class="focus-input100" data-placeholder="&#xe82a;"></span>
					</div>

					<div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="actPass" placeholder="Contraseña Actual" id="password_field">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Enter password">
						<input class="input100" type="password" name="newPass" placeholder="Contraseña Nueva" id="new_password_field">
						<span class="focus-input100" data-placeholder="&#xe80f;"></span>
					</div>

					<div class="container-login100-form-btn m-t-32">
						<button class="login100-form-btn" id="submit_btn">
							<a class = "clickBigger" href="/index.ejs">Enviar</a>
                        </button>
                        <!--boton de cancelar-->
                        <button class="login100-form-btn" id="cancel_btn">
							<a class = "clickBigger" href="/login.ejs">Cancelar</a>
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>
	<script src="/public/js/login.js"></script>
	<script src="/public/vendor/jquery/jquery.min.js"></script>
	<script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>

</html>