<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Inicio</title>

  <!-- Bootstrap core CSS -->
  <link href="/public/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/public/css/grayscale.css" rel="stylesheet">
  <script src="/public/js/login.js"></script>

</head>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="/"><img src="/public/img/deiL.png" alt="dei"></a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/calendar">Reserva</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contacto</a>
          </li>
          <li class="nav-item login">

            <a class="nav-link js-scroll-trigger" href="/register">Regístrate</a>
          </li>
          <li class="nav-item login">
            <a class="nav-link js-scroll-trigger" href="/login">Iniciar Sesión</a>

          </li>
          <div class="logout">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#logout">
                Cerrar Sesion
              </a>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-0 text-uppercase">Laboratorios DEI</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Reserva los laboratorios del departamento de manera mas cómoda y
          rapida:)</h2>
        <a href="#about" class="btn btn-primary js-scroll-trigger">¿Cómo reservar?</a>
      </div>
    </div>
  </header>

  <!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <h2 class="text-white mb-4">¿Cómo reservar?</h2>
      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <img src="/public/img/calendario.jpg" alt="calendario" id="uno">
          <p class="text-white-50">Paso 1: Entra al calendario en el siguiente enlace para poder ver los laboratorios y
            su disponibilidad.
            <a href="/calendar">Click aqui</a>. ¡Recuerda que tienes que
            haber iniciado sesion!</p>
          </article>
        </div>

        <div class="col-md-4 mb-3 mb-md-0" id="dos">
          <img src="/public/img/calendarioZoom.jpg" alt="calendariozoom">
          <p class="text-white-50">Paso 2: Al entrar al calendario podras observar en una esquina los colores verde,
            amarilo y rojo que te indican la disponibilidad del laboratorio y tambien podras filtras los horarios para
            cada laboratorio (L1,L2 y L3).
          </p>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <img src="/public/img/click.jpg" alt="calendariozoom" id="tres">
          <p class="text-white-50">Paso 3:Para reservar simplemente da click sobre el horario de laboratorio
            disponible
            y simplemente se te pedira que confirmes la reserva y listo!
          </p>
        </div>
      </div>
      <div>
        <p class="space"></p>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="column">
        <div class="col-md-10 col-lg-8 mx-auto text-center">
          <i class="fas fa-comments fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Envianos un mensaje!</h2>

          <form class="form-inline d-flex">
            <input type="text" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputName"
              placeholder="Nombre...">

            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail"
              placeholder="Ingresa tu correo...">

            <textarea class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputMesagge"
              placeholder="Mensaje..."></textarea>

            <button type="submit" class="btn btn-primary mx-auto">Enviar</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0" id="space">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-globe-americas logoCards"></i>
              <h4 class="text-uppercase m-0">Dirección</h4>
              <hr class="my-4">
              <div class="small text-black-50">Bulevar Los Próceres, Antiguo Cuscatlán, La Libertad, El Salvador,
                Centroamérica.</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0" id="space">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="far fa-envelope logoCards"></i>
              <h4 class="text-uppercase m-0">Correo</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">dei@uca.edu.sv</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0" id="space">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-phone logoCards"></i>
              <h4 class="text-uppercase m-0">Telefono</h4>
              <hr class="my-4">
              <div class="small text-black-50">2210-6600 ext. 1026</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      <div class="logos">
        <a href="https://www.facebook.com/deiucasv/" target="_blank" class="fab fa-facebook-f fb"></a>
        <a href="https://twitter.com/nextaldana?lang=es" class="fab fa-twitter tw" target="_blank"></a>
        <a href="https://github.com/BryOrellana/ProyectoPW" class="fab fa-github git" target="_blank"></a>
      </div>

      <p>Copyrights&copy;Departamento de electrónica e informática, UCA.</p>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="/public/vendor/jquery/jquery.min.js"></script>
  <script src="/public/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/public/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/public/js/grayscale.js"></script>
  <script src="https://kit.fontawesome.com/238772c3c0.js" crossorigin="anonymous"></script>



</body>

</html>